/* Top */
* {
  font-size: 18px;
}

h1 {
  text-align: center;
  text-shadow: 1px 1px 2px #DDAF94;
  border: 4px solid black;


}

/*  */
h2 {
  text-align: center;
  text-shadow: 1px 1px 2px #DDAF94;

}

summary {

}
/* Create */

#submit {
  background: #DDAF94;
  padding: 0.5em;
  margin: 0.5em;
}


img {
  width: 200px;
  display: block;
}

ul {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
}

li {
  display: flex;
  flex-flow: column;
  justify-content: space-between;
  align-items: center;
  flex-basis: 28%;
  margin: 2%;
  background: #FDF8F5;
  box-sizing: border-box;
  padding: 2%;
  box-shadow: 2px 2px 4px #266150;
}

.create {
  display: flex;
  flex-flow: column;
  justify-content: space-between;
  align-items: center;
  flex-basis: 28%;
  margin: 2%;
  background: #FDF8F5;
  box-sizing: border-box;
  padding: 2%;
  box-shadow: 2px 2px 4px #266150;
}

.column {
  display: flex;
  flex-flow: column;
  justify-content: space-between;
  align-items: center;
  flex-basis: 28%;
  margin: 2%;
  background: #FDF8F5;
  box-sizing: border-box;
  padding: 2%;
  box-shadow: 2px 2px 4px #DDAF94;
}

#images {
  height: 50px;
  width: 200px;,

}

button #update {
  text-align: center;
}

button {
  align-items: center;
  background: #266150;
  color: white;
  padding: 0.5em;
  margin: 10px auto;
}
